*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    background-image: url(bg.jpg);
    background-attachment:fixed;
	background-position:center;	
	background-size:cover;
    background-origin:border-box;
    background-repeat: no-repeat;
}

.titledangnhap{
    color: red;
}
.titlequanli{
    color: red;
}
.img-quanli{
    width: 250px;
    height: 250px;
}

span.need{
    color: red;
}

.container-fluid{
    padding-left: 300px;
    padding-right: 300px;
}

.container{
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}

#navbar {
    position: fixed; /* Make it stick/fixed */
    top: 0; /* Stay on top */
    width: 100%; /* Full width */
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
    z-index: 100;
}
a{
    text-decoration: none;
}

/* Style the navbar links */

  
