*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(background.jpg);
    background-attachment:fixed;
	background-position:center;	
	background-size:cover;
    background-origin:border-box;
    background-repeat: no-repeat;
}

.titledangnhap{
    color: red;
}
.titlequanli{
    color: red;
}
.img-quanli{
    width: 250px;
    height: 250px;
}

span.need{
    color: red;
}

.container-fluid{
    padding-left: 300px;
    padding-right: 300px;
}

.container{
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}