.formdangnhap{
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.1);
    padding: 20px;
    top: 15%;
}

.formdangki{
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.1);
    padding: 20px;
    top: 5%;
}

.box .inputBox{
    position: relative;
    box-shadow: #000;
}

.box .inputBox input{
    width: 100%;
    padding: 10px 0;
    font-size: 20px;
    color: #000;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #000;
    outline: none;
    background: transparent;
}

.eye{
    position: relative;
}
.eye img{
    position: absolute;
    left: 95%;
    top: 15px;
}

.box .inputBox label{
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 20px 0px;
    font-size: 18px;
    color: rgb(0, 0, 0);
    pointer-events: none;
    transition: .5s;
    opacity: 0.7;
}

.box .inputBox input:focus ~label,
.box .inputBox input:valid ~label{
    top: -30px;
    left: 0;
    color: #03a9f4;
    font-size: 14px;
    opacity: 1;
}

@media only screen and (max-width: 480px){
    .eye img{
        position: absolute;
        left: 90%;
        top: 15px;
    }
}